
<div class="cat_menu_container">
<div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
    <div class="cat_burger"><span></span><span></span><span></span></div> 
    <div class="cat_menu_text">Danh mục</div>
</div>

<ul class="cat_menu">
    <li class="hassubs">
        <a href="#">Ba lô<i class="fas fa-chevron-right"></i></a>
        <ul>
            <li><a href="./category/bag.html">Ba lô nam<i class="fas fa-chevron-right"></i></a></li>
            <li><a href="./category/bag.html">Ba lô nữ<i class="fas fa-chevron-right"></i></a></li>
            <li><a href="./category/bag.html">Ba lô đi phượt<i class="fas fa-chevron-right"></i></a></li>
            <li><a href="./category/bag.html">Ba lô chéo<i class="fas fa-chevron-right"></i></a></li>
            <li><a href="./category/bag.html">Ba lô đựng laptop<i class="fas fa-chevron-right"></i></a></li>
            <li><a href="./category/bag.html">Ba lô khác<i class="fas fa-chevron-right"></i></a></li>											
        </ul>
    </li>
    <li class="hassubs">
        <a href="#">Túi Xách<i class="fas fa-chevron-right"></i></a>
        <ul>
            <li class="hassubs"><a href="./category/bag.html">Túi xách nam<i class="fas fa-chevron-right"></i></a>
                <ul>
                    <li><a href="./category/bag.html">Túi đeo chéo<i class="fas fa-chevron-right"></i></a>
                    <li><a href="./category/bag.html">Túi xách nam<i class="fas fa-chevron-right"></i></a>
                    <li><a href="./category/bag.html">Túi xách khác<i class="fas fa-chevron-right"></i></a>
                </ul>
            </li>	
            <li class="hassubs"><a href="./category/bag.html">Túi xách nữ<i class="fas fa-chevron-right"></i></a>
                <ul>
                    <li><a href="./category/bag.html">Túi đeo chéo<i class="fas fa-chevron-right"></i></a>
                    <li><a href="./category/bag.html">Túi handmade, thổ cẩm<i class="fas fa-chevron-right"></i></a>
                    <li><a href="./category/bag.html">Túi oversize<i class="fas fa-chevron-right"></i></a>
                    <li><a href="./category/bag.html">Túi bucket<i class="fas fa-chevron-right"></i></a>
                    <li><a href="./category/bag.html">Túi xách tay<i class="fas fa-chevron-right"></i></a>
                    <li><a href="./category/bag.html">Túi xách khác<i class="fas fa-chevron-right"></i></a>
                </ul>
            </li>								
        </ul>
    </li>
</ul>
</div>