			<div id="lookup-detail" class="collapse">
				
				  <div class=" row justify-content-center">
					  <div class="col-9">
			              <div class="card card-body mb-2">
			              	<h4 class="card-title">
			              		Tìm kiếm chi tiết
			              	</h4>
			              	<div class="row">
			              		<div class="col-lg-5 col-md-12">
			              			<div class="row">
			              				<div class="col-sm-6">
			              					<label for="productBrand" class="col-form-label"><b>Nhà sản xuất</b></label>
					              			<input type="text" class="form-control" placeholder="Nhà sản xuất" id="productBrand" name="productBrand">
						              	</div>
						              	<div class="col-sm-6">
						              		<label for="description" class="col-form-label"><b>Đặc điểm</b></label>
						              		<textarea class="form-control" placeholder="Mô tả..." id="description" name="description"></textarea>
						              		
						              	</div>
			              			</div>
			              		</div>
			              		
				              	<div class="col-lg-7 col-md-12">

					              		<label for="inputBrand" class="col-form-label"><b>Giá cả</b></label>
					              		<div class="col-sm-12">
					              			<div class="row">
					              				<b>$ 100.000</b>
					              				<div class="col-sm-8">
					              					<input id="ex2" name="priceRange" type="text" class="span2" value="" data-slider-min="100000" data-slider-max="5000000" data-slider-step="100000" data-slider-value="[250,450]"/> 
					              				</div> 
					              				
					              				<b>$ 5.000.000</b>
					              			</div>

					              		</div>
					              		<div class="col-sm-12 text-center">
					              			<b><span id="min-price">1.000.000</span> <span>VNĐ</span> - <span id="max-price">2.000.000</span> <span>VNĐ</span> </b>
					              		</div>

				              		
				              	</div>

			              	</div>
			              	
			              </div>
			          </div>
					</div>
			</div>