{{#each this}}
	<div class="owl-item">
		<div class="viewed_item d-flex flex-column align-items-center justify-content-center text-center">
			<div class="viewed_image"><img src="{{photo}}" alt=""></div>
				<div class="viewed_content text-center">
				<div class="viewed_price">{{price}} đ</div>
				<div class="viewed_name"><a href="/product/{{id}}">{{name}}</a></div>
			</div>
		</div>
	</div>

{{/each}}