                    <div class="col-md-3">
                        <!-- *** CUSTOMER MENU ***
 _________________________________________________________ -->
                         <div class="panel panel-default sidebar-menu">

                            <div class="panel-heading">
                                <h3 class="panel-title">Thông tin</h3>
                            </div>
                            <div class="card" style="width: 18rem;">
                              <img class="card-img-top profile-picture" src="/user/images/avatar.png" alt="Card image cap">
                              <b class="text-center">{{user.fullname}}</b>
                              <div class="card-body">
                                <ul class="list-group list-group-flush">
                                        {{#if onOrderPage}}
                                          <a href="/user/orders" class="list-group-item list-group-item-action active"><i class="fa fa-list"></i> Đơn hàng</a>
                                        {{else}}
                                          <a href="/user/orders" class="list-group-item list-group-item-action"><i class="fa fa-list"></i> Đơn hàng</a>
                                        {{/if}}
                                        
                                        {{#if onUserDetailPage}}
                                          <a href="/user/orders" class="list-group-item list-group-item-action active"><i class="fa fa-user"></i> Tài khoản</a>
                                        {{else}}
                                          <a href="/user/detail" class="list-group-item list-group-item-action " ><i class="fa fa-user"></i> Tài khoản</a>
                                        {{/if}}

                                        <a href="/user/logout" data-confirm="Bạn có muốn đăng xuất?" class="list-group-item list-group-item-action"  id="logOut"><i class="fas fa-sign-out-alt" ></i> Đăng xuất</a>

                                </ul>
                              </div>
                            </div>
                        </div>
                    </div>