<!DOCTYPE html>
<html lang="en">
<head>
<title>WEBTEAM</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="WEBTEAM Project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/user/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/user/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="/user/plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="/user/plugins/slick-1.8.0/slick.css">
<link rel="stylesheet" type="text/css" href="/user/styles/header.css">
<link rel="stylesheet" type="text/css" href="/user/styles/bootstrap4/bootstrap-datepicker.css">
<link rel="stylesheet" type="text/css" href="/user/styles/bootstrap4/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/user/styles/bootstrap4/bootstrap-slider.min.css">
<link href="/user/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/user/styles/main_styles.css">
{{!-- <link rel="stylesheet" type="text/css" href="/user/styles/product_styles.css">
<link rel="stylesheet" type="text/css" href="/user/styles/product_responsive.css"> --}}
<link rel="stylesheet" type="text/css" href="/user/styles/responsive.css">

<link rel="stylesheet" type="text/css" href="/user/styles/user-order-detail.css">  
<link rel="stylesheet" type="text/css" href="/user/styles/bootstrap4/dataTables.bootstrap4.min.css">
{{!-- <link rel="stylesheet" type="text/css" href="/user/styles/shop_styles.css">
<link rel="stylesheet" type="text/css" href="/user/styles/shop_responsive.css"> --}}
<link rel="stylesheet" type="text/css" href="/user/styles/Thi/styles.css">


<script src="/user/js/recaptcha.js"></script>
</head>

<body>
	<div class="super_container">
		{{> user-header}}
			{{{body}}}
		{{> user-footer}}
	</div>

	  <div id="myModal"  class="modal fade" tabindex="-1" role="dialog">
	      <div class="modal-dialog modal-lg" role="document">
	        <div class="modal-content">
	          <div class="modal-header no-bottom-border">
	            <ul class="nav nav-tabs" role="tablist">
	              <li role="presentation" class="active nav-item"><a class="nav-link active" href="#log-in" aria-controls="log-in" role="tab" data-toggle="tab">Đăng nhập</a></li>
	              <li role="presentation" class="nav-item"><a class="nav-link" href="#register" aria-controls="register" role="tab" data-toggle="tab">Tạo tài khoản</a></li>
	            </ul>
	            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	            
	          </div>
	          <div class="modal-body">
	          <div class="group-tabs">
	            <!-- Nav tabs -->
	            

	            <!-- Tab panes -->
	            <div class="tab-content">
	              <div role="tabpanel" class="tab-pane active" id="log-in">
	                <div class="custom-container">
	                  <form>
	                        <div class="form-group row">
	                    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
	                    <div class="col-sm-10">
	                      <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email">
	                    </div>
	                  </div>
	                  <div class="form-group row">
	                    <label for="inputPassword" class="col-sm-2 col-form-label">Mật khẩu</label>
	                    <div class="col-sm-10">
	                      <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Mật khẩu">
	                    </div>
	                  </div>
	                  <div class="form-group row">
	                    <div class="offset-sm-2 col-sm-2">
	                      <button type="submit" onclick="return UserLogin(event);" class="btn btn-primary">Đăng nhập</button>
	                    </div>
	                    <button class="btn cancel-button" data-dismiss="modal" aria-label="Close">Hủy bỏ</button>
	                  </div>
	                  
	                  </form>
	                </div>
	                
	              </div>
	              <div role="tabpanel" class="tab-pane" id="register">
	                <div class="custom-container">
	                  <form>
	                        <div class="form-group row">
	                    <label for="inputName" class="col-sm-2 col-form-label">Họ tên (<span class="needed">*</span>)</label>
	                    <div class="col-sm-10">
	                      <input type="text" class="form-control" id="inputName" placeholder="Họ tên" required>
	                    </div>
	                  </div>
	                  <div class="form-group row">
	                    <label for="inputEmailSU" class="col-sm-2 col-form-label">Email (<span class="needed">*</span>)</label>
	                    <div class="col-sm-10">
	                      <input type="email" class="form-control" id="inputEmailSU" placeholder="Email" required>
	                    </div>
	                  </div>
	                  <div class="form-group row">
	                    <label for="inputPasswordSU" class="col-sm-2 col-form-label">Mật khẩu (<span class="needed">*</span>)</label>
	                    <div class="col-sm-10">
	                      <input type="password" class="form-control" id="inputPasswordSU" placeholder="Mật khẩu" required>
	                    </div>
	                  </div>
	                  <div class="form-group row">
	                    <label for="inputGender" class="col-sm-2 col-form-label">Giới tính</label>
	                    <div class="col-sm-10 row col-form-label">
	                      <div class="col-sm-6">
	                        <label class="custom-control custom-radio">
	                        <input id="radio1" name="radio" type="radio" class="custom-control-input">
	                        <span class="custom-control-indicator"></span>
	                        <span class="custom-control-description" style="font-weight: normal;">Nam</span>
	                      </label>
	                        <!-- <input type="radio" name="options" id="option1" autocomplete="off" checked>  -->
	                      </div>
	                      <div class="col-sm-6">
	                        <label class="custom-control custom-radio">
	                        <input id="radio2" name="radio" type="radio" class="custom-control-input">
	                        <span class="custom-control-indicator"></span>
	                        <span class="custom-control-description" style="font-weight: normal;">Nữ</span>
	                      </label>
	                        <!-- <input type="radio" name="options" id="option1" autocomplete="off" checked> Nữ -->
	                      </div>  
	                    </div>
	                    
	                  </div>
	                  <div class="form-group row">
	                    <label for="inputDOB" class="col-sm-2 col-form-label">Ngày sinh</label>
	                    <div class="col-sm-10">
	                      <input class="form-control datepicker" id="inputDOB" placeholder="Ngày sinh">
	                    </div>

	                  </div>
	                  
	                  <div class="form-group row">
	                    <label for="inputAddressSU" class="col-sm-2 col-form-label">Địa chỉ</label>
	                    <div class="col-sm-10">
	                      <input type="text" class="form-control" id="inputAddressSU" placeholder="Địa chỉ" required>
	                    </div>
	                  </div>
	                  <div class="form-group row">
	                    <label for="inputCity" class="col-sm-2 col-form-label">Tỉnh/Thành phố</label>
	                    <div class="col-sm-10 row">
	                      <div class="col-sm-6">
	                        <input type="text" class="form-control" id="inputProvince" placeholder="Tỉnh/Thành phố">
	                      </div>
	                      <div class="col-sm-6">
	                        <div class="g-recaptcha" data-sitekey="6LfT0FQUAAAAAIY1o0Y78NDDOLPW_HDFWrtqesS_"></div>
	                      </div>
	                    </div>
	                    
	                    
	                  </div>
	                  <div class="form-group row">
	                    <div class="offset-sm-2 col-sm-2">
	                      <button type="submit" class="btn btn-primary">Đăng ký</button>
	                    </div>
	                      <button class="btn" data-dismiss="modal" aria-label="Close">Hủy bỏ</button>
	                  </div>
	                  
	                  </form>
	                </div>
	              </div>
	            </div>
	          </div>
	          </div>
	        </div><!-- /.modal-content -->
	      </div><!-- /.modal-dialog -->
  		</div>
</body>

<script src="/user/js/jquery-3.3.1.min.js"></script>
<script src="/user/styles/bootstrap4/popper.js"></script>
<script src="/user/styles/bootstrap4/bootstrap.min.js"></script>
<script src="/admin/js/jquery.dataTables.min.js"></script>

<script src="/user/styles/bootstrap4/dataTables.bootstrap.min.js"></script>

<script src="/user/styles/bootstrap4/bootstrap-datepicker.js"></script>
<script src="/user/styles/bootstrap4/bootstrap-slider.js"></script>
<script src="/user/plugins/greensock/TweenMax.min.js"></script>
<script src="/user/plugins/greensock/TimelineMax.min.js"></script>
<script src="/user/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="/user/plugins/greensock/animation.gsap.min.js"></script>
<script src="/user/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="/user/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="/user/plugins/slick-1.8.0/slick.js"></script>
<script src="/user/plugins/easing/easing.js"></script>
<script src="/user/js/product_custom.js"></script>
<script src="/user/js/custom.js"></script>
<script src="/user/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="/user/plugins/parallax-js-master/parallax.min.js"></script>
<script src="/user/js/shop_custom.js"></script>
<script src="/user/js/Thi/register.js"></script>
<script src="/user/js/Thi/lookup.js"></script>
<script src="/user/js/Thi/user-order.js"></script>
<script src="/user/js/login.js"></script>
<script src="/user/js/Thi/products.js"></script>
</html>