	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/shop_background.jpg"></div>
		<div class="home_overlay"></div>
		<div class="home_content d-flex flex-column align-items-center justify-content-center">
			<h2 class="home_title">Ba Lô và Túi Xách</h2>
		</div>
	</div>

	<!-- Shop -->

	<div class="shop">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">

					<!-- Shop Sidebar -->
					<div class="shop_sidebar">
						<div class="sidebar_section">
							<div class="sidebar_title">Danh mục</div>
							<ul class="sidebar_categories">
								<li><a href="#">Ba lô nam</a></li>
								<li><a href="#">Ba lô nữ</a></li>
								<li><a href="#">Ba lô đeo chéo</a></li>
								<li><a href="#">Ba lô đi phượt</a></li>
								<li><a href="#">Ba lô đựng lap top</a></li>
								<li><a href="#">Túi xách nam</a></li>
								<li><a href="#">Túi xách nữ</a></li>
								<li><a href="#">Túi đeo chéo</a></li>
								<li><a href="#">Túi oversize</a></li>
								<li><a href="#">Túi bucket</a></li>
							</ul>
						</div>
						<div class="sidebar_section">
							<div class="sidebar_subtitle brands_subtitle">Thương hiệu</div>
							<ul class="brands_list">
								<li class="brand"><a href="#">GUCCI</a></li>
								<li class="brand"><a href="#">HERMET</a></li>
								<li class="brand"><a href="#">The North Face</a></li>
								<li class="brand"><a href="#">HERSHEL</a></li>
								<li class="brand"><a href="#">TUCANO</a></li>
							</ul>
						</div>
					</div>

				</div>

				<div class="col-lg-9">
					
					<!-- Shop Content -->

					<div class="shop_content">
						<div class="shop_bar clearfix">
							<div class="shop_product_count"><span>100</span> Sản phẩm được tìm</div>
							<div class="shop_sorting">
								<span>Sắp xếp:</span>
								<ul>
									<li>
										<span class="sorting_text">Đánh giá<i class="fas fa-chevron-down"></span></i>
										<ul>
											<li class="shop_sorting_button" data-isotope-option='{ "sortBy": "original-order" }'>Đánh giá</li>
											<li class="shop_sorting_button" data-isotope-option='{ "sortBy": "name" }'>Tên</li>
											<li class="shop_sorting_button"data-isotope-option='{ "sortBy": "price" }'>Giá</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>

						<div class="product_grid">
							<div class="product_grid_border"></div>

							<!-- Product Item -->
							<div class="product_item is_new">
								<div class="product_border"></div>
								<div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="/user/images/category/bag/bag_for_male/bag_for_male_1_id01.jpg" alt=""></div>
								<div class="product_content">
									<div class="product_price">199,000 đ</div>
									<div class="product_name"><div><a href="/product.html" tabindex="0">BALO BTS KPOP</a></div></div>
								</div>
								<div class="product_fav"><i class="fas fa-heart"></i></div>
								<ul class="product_marks">
									<li class="product_mark product_discount">-25%</li>
									<!-- <li class="product_mark product_new">new</li> -->
								</ul>
							</div>

							<!-- Product Item -->
							<div class="product_item discount">
								<div class="product_border"></div>
								<div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="/user/images/category/bag/bag_for_male/bag_for_male_2_id02.jpg" alt=""></div>
								<div class="product_content">
									<div class="product_price">359,000 đ<span>400,000 đ</span></div>
									<div class="product_name"><div><a href="/product.html" tabindex="0">Balo Unisex Cao Cấp PRAZA</a></div></div>
								</div>
								<div class="product_fav"><i class="fas fa-heart"></i></div>
								<ul class="product_marks">
									<li class="product_mark product_discount">-25%</li>
									<!-- <li class="product_mark product_new">new</li> -->
								</ul>
							</div>

							<!-- Product Item -->
							<div class="product_item">
								<div class="product_border"></div>
								<div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="/user/images/category/bag/bag_for_male/bag_for_male_3_id03.jpg" alt=""></div>
								<div class="product_content">
									<div class="product_price">259,000 đ</div>
									<div class="product_name"><div><a href="/product.html" tabindex="0">Ba lô - B074</a></div></div>
								</div>
								<div class="product_fav"><i class="fas fa-heart"></i></div>
								<ul class="product_marks">
									<li class="product_mark product_discount">-25%</li>
									<!-- <li class="product_mark product_new">new</li> -->
								</ul>
							</div>

							<!-- Product Item -->
							<div class="product_item">
								<div class="product_border"></div>
								<div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="/user/images/category/bag/bag_for_male/bag_for_male_4_id04.jpg" alt=""></div>
								<div class="product_content">
									<div class="product_price">179,000 đ</div>
									<div class="product_name"><div><a href="/product.html" tabindex="0">Blo đen</a></div></div>
								</div>
								<div class="product_fav"><i class="fas fa-heart"></i></div>
								<ul class="product_marks">
									<li class="product_mark product_discount">-25%</li>
									<!-- <li class="product_mark product_new">new</li> -->
								</ul>
							</div>

							<!-- Product Item -->
							<div class="product_item is_new">
								<div class="product_border"></div>
								<div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="/user/images/category/bag/bag_for_male/bag_for_male_5_id05.jpg" alt=""></div>
								<div class="product_content">
									<div class="product_price">299,000 đ</div>
									<div class="product_name"><div><a href="/product.html" tabindex="0">BALO NAM THỜI TRANG</a></div></div>
								</div>
								<div class="product_fav"><i class="fas fa-heart"></i></div>
								<ul class="product_marks">
									<li class="product_mark product_discount">-25%</li>
									<!-- <li class="product_mark product_new">new</li> -->
								</ul>
							</div>

							<!-- Product Item -->
							<div class="product_item is_new">
								<div class="product_border"></div>
								<div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="/user/images/category/bag/bag_for_male/bag_for_male_5_id05.jpg" alt=""></div>
								<div class="product_content">
									<div class="product_price">199,000 đ</div>
									<div class="product_name"><div><a href="/product.html" tabindex="0">Ba lô - B031</a></div></div>
								</div>
								<div class="product_fav"><i class="fas fa-heart"></i></div>
								<ul class="product_marks">
									<li class="product_mark product_discount">-25%</li>
									<!-- <li class="product_mark product_new">new</li> -->
								</ul>
							</div>

							<!-- Product Item -->
							<div class="product_item">
								<div class="product_border"></div>
								<div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="/user/images/category/bag/bag_for_female/bag_for_female_1_id07.jpg" alt=""></div>
								<div class="product_content">
									<div class="product_price">439,000 đ<span>500,000 đ</span></div>
									<div class="product_name"><div><a href="/product.html" tabindex="0">Balo nữ dây rút H227 - Đen</a></div></div>
								</div>
								<div class="product_fav"><i class="fas fa-heart"></i></div>
								<ul class="product_marks">
									<li class="product_mark product_discount">-25%</li>
									<!-- <li class="product_mark product_new">new</li> -->
								</ul>
							</div>

							<!-- Product Item -->
							<div class="product_item">
								<div class="product_border"></div>
								<div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="/user/images/category/bag/bag_for_female/bag_for_female_2_id08.jpg" alt=""></div>
								<div class="product_content">
									<div class="product_price">255,000 đ<span>300,000 đ</span></div>
									<div class="product_name"><div><a href="/product.html" tabindex="0">BaLô bầu bĩnh</a></div></div>
								</div>
								<div class="product_fav"><i class="fas fa-heart"></i></div>
								<ul class="product_marks">
									<li class="product_mark product_discount">-25%</li>
									<!-- <li class="product_mark product_new">new</li> -->
								</ul>
							</div>

							<!-- Product Item -->
							<div class="product_item">
								<div class="product_border"></div>
								<div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="/user/images/category/bag/bag_for_female/bag_for_female_3_id09.jpg" alt=""></div>
								<div class="product_content">
									<div class="product_price">439,000 đ</div>
									<div class="product_name"><div><a href="/product.html" tabindex="0">Balo nữ dây rút H227 - Hồng Đỏ</a></div></div>
								</div>
								<div class="product_fav"><i class="fas fa-heart"></i></div>
								<ul class="product_marks">
									<!-- <li class="product_mark product_discount">-25%</li> -->
									<!-- <li class="product_mark product_new">new</li> -->
								</ul>
							</div>

							<!-- Product Item -->
							<div class="product_item">
								<div class="product_border"></div>
								<div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="/user/images/category/bag/bag_for_female/bag_for_female_4_id10.jpg" alt=""></div>
								<div class="product_content">
									<div class="product_price">199,000 đ</div>
									<div class="product_name"><div><a href="/product.html" tabindex="0">Ba lô thời trang , khóa kéo hình gấu</a></div></div>
								</div>
								<div class="product_fav"><i class="fas fa-heart"></i></div>
								<ul class="product_marks">
									<!-- <li class="product_mark product_discount">-25%</li> -->
									<!-- <li class="product_mark product_new">new</li> -->
								</ul>
							</div>

							<!-- Product Item -->
							<div class="product_item is_new">
								<div class="product_border"></div>
								<div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="/user/images/category/bag/bag_for_female/bag_for_female_5_id11.jpg" alt=""></div>
								<div class="product_content">
									<div class="product_price">320,000 đ</div>
									<div class="product_name"><div><a href="/product.html" tabindex="0">BALO DA MINI</a></div></div>
								</div>
								<div class="product_fav"><i class="fas fa-heart"></i></div>
								<ul class="product_marks">
									<!-- <li class="product_mark product_discount">-25%</li> -->
									<!-- <li class="product_mark product_new">new</li> -->
								</ul>
							</div>

							<!-- Product Item -->
							<div class="product_item is_new">
								<div class="product_border"></div>
								<div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="/user/images/category/bag/bag_for_laptop/bag_for_laptop_01_id12.jpg" alt=""></div>
								<div class="product_content">
									<div class="product_price">280,000 đ</div>
									<div class="product_name"><div><a href="/product.html" tabindex="0"> Balo đựng laptop03</a></div></div>
								</div>
								<div class="product_fav"><i class="fas fa-heart"></i></div>
								<ul class="product_marks">
									<!-- <li class="product_mark product_discount">-25%</li> -->
									<!-- <li class="product_mark product_new">new</li> -->
								</ul>
							</div>

							<!-- Product Item -->
							<div class="product_item is_new">
								<div class="product_border"></div>
								<div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="/user/images/category/bag/bag_for_laptop/bag_for_laptop_02_id13.jpg" alt=""></div>
								<div class="product_content">
									<div class="product_price">219, 000</div>
									<div class="product_name"><div><a href="/product.html" tabindex="0">Balo Laptop - BL18</a></div></div>
								</div>
								<div class="product_fav"><i class="fas fa-heart"></i></div>
								<ul class="product_marks">
									<li class="product_mark product_discount">-25%</li>
									<!-- <li class="product_mark product_new">new</li> -->
								</ul>
							</div>

							<!-- Product Item -->
							<div class="product_item is_new">
								<div class="product_border"></div>
								<div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="/user/images/category/bag/bag_for_laptop/bag_for_laptop_03_id14.jpg" alt=""></div>
								<div class="product_content">
									<div class="product_price">400,000 đ</div>
									<div class="product_name"><div><a href="/product.html" tabindex="0">Balo Hàn Quốc - BL06</a></div></div>
								</div>
								<div class="product_fav"><i class="fas fa-heart"></i></div>
								<ul class="product_marks">
									<li class="product_mark product_discount">-25%</li>
									<li class="product_mark product_new">new</li>
								</ul>
							</div>

							<!-- Product Item -->
							<div class="product_item discount">
								<div class="product_border"></div>
								<div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="/user/images/category/bag/bag_for_backpacking/bag_for_backpacking_01_id15.jpg" alt=""></div>
								<div class="product_content">
									<div class="product_price">299,000 đ<span>359,000 đ</span></div>
									<div class="product_name"><div><a href="/product.html" tabindex="0">Ba lô - B073</a></div></div>
								</div>
								<div class="product_fav"><i class="fas fa-heart"></i></div>
								<ul class="product_marks">
									<li class="product_mark product_discount">-25%</li>
									<li class="product_mark product_new">new</li>
								</ul>
							</div>
							
							<!-- Product Item -->
							<div class="product_item is_new">
								<div class="product_border"></div>
								<div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="/user/images/category/bag/bag_for_laptop/bag_for_laptop_03_id14.jpg" alt=""></div>
								<div class="product_content">
									<div class="product_price">400,000 đ</div>
									<div class="product_name"><div><a href="/product.html" tabindex="0">Balo Hàn Quốc - BL06</a></div></div>
								</div>
								<div class="product_fav"><i class="fas fa-heart"></i></div>
								<ul class="product_marks">
									<li class="product_mark product_discount">-25%</li>
									<li class="product_mark product_new">new</li>
								</ul>
							</div>
							
							<!-- Product Item -->
							<div class="product_item is_new">
								<div class="product_border"></div>
								<div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="/user/images/category/bag/bag_for_male/bag_for_male_1_id01.jpg" alt=""></div>
								<div class="product_content">
									<div class="product_price">199,000 đ</div>
									<div class="product_name"><div><a href="/product.html" tabindex="0">BALO BTS KPOP</a></div></div>
								</div>
								<div class="product_fav"><i class="fas fa-heart"></i></div>
								<ul class="product_marks">
									<li class="product_mark product_discount">-25%</li>
									<!-- <li class="product_mark product_new">new</li> -->
								</ul>
							</div>

							<!-- Product Item -->
							<div class="product_item is_new">
								<div class="product_border"></div>
								<div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="/user/images/category/bag/bag_for_male/bag_for_male_1_id01.jpg" alt=""></div>
								<div class="product_content">
									<div class="product_price">199,000 đ</div>
									<div class="product_name"><div><a href="/product.html" tabindex="0">BALO BTS KPOP</a></div></div>
								</div>
								<div class="product_fav"><i class="fas fa-heart"></i></div>
								<ul class="product_marks">
									<li class="product_mark product_discount">-25%</li>
									<!-- <li class="product_mark product_new">new</li> -->
								</ul>
							</div>

							<!-- Product Item -->
							<div class="product_item discount">
								<div class="product_border"></div>
								<div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="/user/images/category/bag/bag_for_male/bag_for_male_2_id02.jpg" alt=""></div>
								<div class="product_content">
									<div class="product_price">359,000 đ<span>400,000 đ</span></div>
									<div class="product_name"><div><a href="/product.html" tabindex="0">Balo Unisex Cao Cấp PRAZA</a></div></div>
								</div>
								<div class="product_fav"><i class="fas fa-heart"></i></div>
								<ul class="product_marks">
									<li class="product_mark product_discount">-25%</li>
									<!-- <li class="product_mark product_new">new</li> -->
								</ul>
							</div>

							<!-- Product Item -->
							<div class="product_item is_new">
								<div class="product_border"></div>
								<div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="/user/images/category/bag/bag_for_laptop/bag_for_laptop_03_id14.jpg" alt=""></div>
								<div class="product_content">
									<div class="product_price">400,000 đ</div>
									<div class="product_name"><div><a href="/product.html" tabindex="0">Balo Hàn Quốc - BL06</a></div></div>
								</div>
								<div class="product_fav"><i class="fas fa-heart"></i></div>
								<ul class="product_marks">
									<li class="product_mark product_discount">-25%</li>
									<li class="product_mark product_new">new</li>
								</ul>
							</div>

						</div>

						<!-- Shop Page Navigation -->

						<div class="shop_page_nav d-flex flex-row">
							<div class="page_prev d-flex flex-column align-items-center justify-content-center"><i class="fas fa-chevron-left"></i></div>
							<ul class="page_nav d-flex flex-row">
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<!-- <li><a href="#">...</a></li>
								<li><a href="#">21</a></li> -->
							</ul>
							<div class="page_next d-flex flex-column align-items-center justify-content-center"><i class="fas fa-chevron-right"></i></div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- Recently Viewed -->

	<div class="viewed">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="viewed_title_container">
						<h3 class="viewed_title">Xem gần đây</h3>
						<div class="viewed_nav_container">
							<div class="viewed_nav viewed_prev"><i class="fas fa-chevron-left"></i></div>
							<div class="viewed_nav viewed_next"><i class="fas fa-chevron-right"></i></div>
						</div>
					</div>

					<div class="viewed_slider_container">
						
						<!-- Recently Viewed Slider -->

						<div class="owl-carousel owl-theme viewed_slider">
							
							<!-- Recently Viewed Item -->
							<div class="owl-item">
								<div class="viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
									<div class="viewed_image"><img src="/user/images/category/bag/bag_for_male/bag_for_male_2_id02.jpg" alt=""></div>
									<div class="viewed_content text-center">
										<div class="viewed_price">359,000 đ<span>400,000 đ</span></div>
										<div class="viewed_name"><a href="#">Balo Unisex Cao Cấp PRAZA</a></div>
									</div>
									<ul class="item_marks">
										<li class="item_mark item_discount">-25%</li>
										<li class="item_mark item_new">new</li>
									</ul>
								</div>
							</div>

							<!-- Recently Viewed Item -->
							<div class="owl-item">
								<div class="viewed_item d-flex flex-column align-items-center justify-content-center text-center">
									<div class="viewed_image"><img src="/user/images/category/bag/bag_for_female/bag_for_female_5_id11.jpg" alt=""></div>
									<div class="viewed_content text-center">
										<div class="viewed_price">320,000 đ</div>
										<div class="viewed_name"><a href="#">BALO DA MINI</a></div>
									</div>
									<ul class="item_marks">
										<li class="item_mark item_discount">-25%</li>
										<li class="item_mark item_new">new</li>
									</ul>
								</div>
							</div>

							<!-- Recently Viewed Item -->
							<div class="owl-item">
								<div class="viewed_item d-flex flex-column align-items-center justify-content-center text-center">
									<div class="viewed_image"><img src="/user/images/category/bag/bag_for_female/bag_for_female_3_id09.jpg" alt=""></div>
									<div class="viewed_content text-center">
										<div class="viewed_price">439,000 đ</div>
										<div class="viewed_name"><a href="#">Balo nữ dây rút H227 - Hồng Đỏ</a></div>
									</div>
									<ul class="item_marks">
										<li class="item_mark item_discount">-25%</li>
										<li class="item_mark item_new">new</li>
									</ul>
								</div>
							</div>

							<!-- Recently Viewed Item -->
							<div class="owl-item">
								<div class="viewed_item is_new d-flex flex-column align-items-center justify-content-center text-center">
									<div class="viewed_image"><img src="/user/images/category/bag/bag_for_male/bag_for_male_5_id05.jpg" alt=""></div>
									<div class="viewed_content text-center">
										<div class="viewed_price">299,000 đ</div>
										<div class="viewed_name"><a href="#">BALO NAM THỜI TRANG</a></div>
									</div>
									<ul class="item_marks">
										<li class="item_mark item_discount">-25%</li>
										<li class="item_mark item_new">new</li>
									</ul>
								</div>
							</div>

							<!-- Recently Viewed Item -->
							<div class="owl-item">
								<div class="viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
									<div class="viewed_image"><img src="/user/images/category/bag/bag_for_female/bag_for_female_1_id07.jpg" alt=""></div>
									<div class="viewed_content text-center">
										<div class="viewed_price">439,000 đ<span>500,000 đ</span></div>
										<div class="viewed_name"><a href="#">Balo nữ dây rút H227 - Đen</a></div>
									</div>
									<ul class="item_marks">
										<li class="item_mark item_discount">-25%</li>
										<li class="item_mark item_new">new</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Brands -->

	<div class="brands">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="brands_slider_container">
						
						<!-- Brands Slider -->

						<div class="owl-carousel owl-theme brands_slider">
							
							<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="/user/images/popular_1.gif" alt=""></div></div>
							<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="/user/images/popular_2.gif" alt=""></div></div>
							<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="/user/images/popular_3.gif" alt=""></div></div>
							<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="/user/images/popular_4.gif" alt=""></div></div>
							<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="/user/images/brands_5.jpg" alt=""></div></div>
							<!-- <div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="/user/images/brands_6.jpg" alt=""></div></div>
							<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="/user/images/brands_7.jpg" alt=""></div></div>
							<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="/user/images/brands_8.jpg" alt=""></div></div> -->

						</div>
						
						<!-- Brands Slider Navigation -->
						<div class="brands_nav brands_prev"><i class="fas fa-chevron-left"></i></div>
						<div class="brands_nav brands_next"><i class="fas fa-chevron-right"></i></div>

					</div>
				</div>
			</div>
		</div>
	</div>