    <div class="single_product">
        <div id="content" class="clearfix">

            <div class="container">

                <div class="row">

                    <!-- *** LEFT COLUMN ***
             _________________________________________________________ -->

                    <div class="col-md-9 clearfix" id="customer-account">

                        <h3>Thay đổi thông tin cá nhân và mật khẩu</h3>

                        <div class="box">

                            <div class="heading">
                                <h3 class="text-uppercase">Đổi mật khẩu</h3>
                            </div>

                            <form>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="password_old">Mật khẩu cũ</label>
                                            <input type="password" class="form-control" id="password_old" placeholder="Mật khẩu cũ">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="password_1">Mật khẩu mới</label>
                                            <input type="password" class="form-control" id="password_1" placeholder="Mật khẩu mới">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="password_2">Nhập lại mật khẩu mới</label>
                                            <input type="password" class="form-control" id="password_2" placeholder="Nhập lại mật khẩu mới">
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i><span>&ensp;Lưu mật khẩu</span></button>
                                </div>
                            </form>

                        </div>
                        <!-- /.box -->


                        <div class="box clearfix">
                            <div class="heading">
                                <h3 class="text-uppercase">Thông tin cá nhân</h3>
                            </div>

                            <form>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="firstname">Họ tên</label>
                                            <input type="text" class="form-control" id="name" placeholder="Họ tên">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="lastname">Email</label>
                                            <input type="text" class="form-control" id="email" placeholder="Email">
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->

                                <div class="row">
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label for="gender">Giới tính</label>
                                        <div class="row col-form-label">
                                          <div class="col-sm-6">
                                            <label class="custom-control custom-radio">
                                            <input id="male" name="radio" type="radio" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description" style="font-weight: normal;">Nam</span>
                                          </label>
                                            <!-- <input type="radio" name="options" id="option1" autocomplete="off" checked>  -->
                                          </div>
                                          <div class="col-sm-6">
                                            <label class="custom-control custom-radio">
                                            <input id="female" name="radio" type="radio" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description" style="font-weight: normal;">Nữ</span>
                                          </label>
                                            <!-- <input type="radio" name="options" id="option1" autocomplete="off" checked> Nữ -->
                                          </div>
                                        </div>
                                        
                                      </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="street">Ngày sinh</label>
                                            <input class="form-control datepicker" id="dob" placeholder="Ngày sinh">
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->

                                <div class="row">


                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="address">Địa chỉ</label>
                                            <input type="text" class="form-control" id="address" placeholder="Địa chỉ">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="city">Tỉnh/Thành phố</label>
                                            <input type="text" class="form-control" id="city" placeholder="Thành phố">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 text-center">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&ensp;Lưu thay đổi</button>

                                    </div>

                                </div>

                            </form>

                        </div>

                    </div>
                    {{> user}}

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

    </div>