            <div class="single_product">
        <div id="content" class="clearfix">

            <div class="container">

                <div class="row">

                    <!-- *** LEFT COLUMN ***
             _________________________________________________________ -->

                            <div class="col-md-9" id="customer-orders">
                      <!-- <div class="infor-order"> -->
                          <h4 class="infor-detail"><b>Mã đơn hàng: </b>#1234</h4>
                          <h4 class="infor-detail"><b>Ngày đặt: </b>20/10/20xx</h4>
                          <h4 class="infor-detail"><b>Tổng cộng: </b>10000000 đ</h4>
                      <!-- </div> -->
                        <table class="table display" style="width:100%" id="user-order">
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>Sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Đơn giá</th>
                                    <th>Thành tiền</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>
                                        <div class="detail_item_image">
                                          <img src="/user/images/new_1.jpg" alt="">
                                        </div>
                                    </th>
                                    <td>Ba lô</td>
                                    <td>2</td>
                                    <td>225,000 đ</td>
                                    <td>450,000 đ</td>                    
                                    <td><a href="product.html" class="btn btn-primary">Chi tiết</a></td>
                                </tr>
                                <tr>
                                    <th>
                                        <div class="detail_item_image">
                                          <img src="/user/images/new_1.jpg" alt="">
                                        </div>
                                    </th>
                                    <td>Ba lô</td>
                                    <td>2</td>
                                    <td>225,000 đ</td>
                                    <td>450,000 đ</td>                    
                                    <td><a href="product.html" class="btn btn-primary">Chi tiết</a></td>
                                </tr>
                                <tr>
                                    <th>
                                        <div class="detail_item_image">
                                          <img src="/user/images/new_1.jpg" alt="">
                                        </div>
                                    </th>
                                    <td>Ba lô</td>
                                    <td>2</td>
                                    <td>225,000 đ</td>
                                    <td>450,000 đ</td>                    
                                    <td><a href="product.html" class="btn btn-primary">Chi tiết</a></td>
                                </tr>
                                <tr>
                                    <th>
                                        <div class="detail_item_image">
                                          <img src="/user/images/new_1.jpg" alt="">
                                        </div>
                                    </th>
                                    <td>Ba lô</td>
                                    <td>2</td>
                                    <td>225,000 đ</td>
                                    <td>450,000 đ</td>                    
                                    <td><a href="product.html" class="btn btn-primary">Chi tiết</a></td>
                                </tr>
                                <tr>
                                    <th>
                                        <div class="detail_item_image">
                                          <img src="/user/images/new_1.jpg" alt="">
                                        </div>
                                    </th>
                                    <td>Ba lô</td>
                                    <td>2</td>
                                    <td>225,000 đ</td>
                                    <td>450,000 đ</td>                    
                                    <td><a href="product.html" class="btn btn-primary">Chi tiết</a></td>
                                </tr>
                            </tbody>
                        </table>
                            <!-- /.table-responsive -->
                    </div>
                    {{> user}}

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

    </div>

    

