.detail_item_image{
    width: 133px;
    height: 133px;
    position: relative;
} 

.detail_item_image img{
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

.table td, .table th {
    vertical-align: text-bottom;
}

/* .infor-order {
    display: block;
    float: left;
    font-size: 20px;
} */

