.no-width {
	width: auto !important;
}

@media only screen and (max-width: 1199px)
{
	.no-width {
    width: auto !important;
	}
}

.custom-button {
	font-size: 15px;
}

.sub-header {

    color: #828282;
    font-size: 14px;
}

.custom-container {
	margin: 30px;
}

.no-bottom-border {
	border-bottom: 0px;
}

.needed {
	color: #dc3545;
}

.cancel-button {
	margin-left: 10px;
}