.no-width {
	width: auto !important;
}

@media only screen and (max-width: 1199px)
{
	.no-width {
    width: auto !important;
	}
}

.custom-button {
	font-size: 15px;
}

.sub-header {

    color: #828282;
    font-size: 14px;
}

.custom-container {
	margin: 30px;
}

.no-bottom-border {
	border-bottom: 0px;
}

.needed {
	color: #dc3545;
}

.cancel-button {
	margin-left: 10px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
